<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.107.9" targetFramework="net48" />
  <package id="PostSharp" version="6.6.8" targetFramework="net48" />
  <package id="PostSharp.Patterns.Aggregation" version="6.6.8" targetFramework="net48" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.6.8" targetFramework="net48" />
  <package id="PostSharp.Patterns.Common" version="6.6.8" targetFramework="net48" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.6.8" targetFramework="net48" />
  <package id="PostSharp.Patterns.Threading" version="6.6.6" targetFramework="net48" />
  <package id="PostSharp.Patterns.Threading.Redist" version="6.6.8" targetFramework="net48" />
  <package id="PostSharp.Redist" version="6.6.8" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Caching" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
</packages>